<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <div class="container">
        <br>
        <p><h1>Calculation App!</h1></p>
        <br><br>
        <br>
        <!-- <form method='POST'>
            {% csrf_token %}
            <h5>Your Name: </h5>{{form.name}}
            <br> <br>
            <h5>Enter a number: </h5>{{form.number}}
            <button type="Submit" class="btn btn-primary">Calculate</button>
        </form> -->

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="Submit" class="btn btn-primary">Calculate</button>
        </form>
        <br> <br>
        <h4>Result: {{name}}, your result is {{result}}
        </h4>
    </div>

</body>
</html>